@import 'styles/helpers';

.sidebar-drawer {
	flex-shrink: 0;

	&:global(.open) {
		transition: cubic-bezier(0.4, 0, 0.6, 1) 225ms width;
	}

	&:global(.closed) {
		transition: cubic-bezier(0.4, 0, 0.6, 1) 195ms width;
	}

	.sidebar-item {
		&:focus,
		&[data-focus] {
			box-shadow: none;
		}
	}
}

.active-item {
	&:not(:active) {
		@include light {
			background: $chakraColorsBlackAlpha200;
		}

		@include dark {
			background: $chakraColorsWhiteAlpha200;
		}
	}
}
