.sidebarDrawer {
	flex-shrink: 0;

	&:global(.open) {
		transition: cubic-bezier(0.4, 0, 0.6, 1) 225ms width;
	}

	&:global(.closed) {
		transition: cubic-bezier(0.4, 0, 0.6, 1) 195ms width;
	}
}

.activeItem {
	@include light {
		background: var(--chakra-colors-blackAlpha-200);
	}

	@include dark {
		background: var(--chakra-colors-whiteAlpha-200);
	}
}
